**/testdocs/*.pdf
**/testimages/*.png
**/testimages/*.jpg
.github
.git
.vars
.venv
.vscode
deploy
templates
.dockerignore
.flake8
.gitignore
.pre-commit-config.yaml
docker-compose.yml
docker-compose.override.yml
Dockerfile
Dockerfile.dev
pyproject.toml
README.md
